{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener"><i class="fa fa-github" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener"><i class="fa fa-twitter" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Steam }}
<a href="https://steamcommunity.com/id/{{.}}" target="_blank" rel="me noopener"><i class="fa fa-steam-square" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
<a href="https://linkedin.com/in/{{.}}" target="_blank" rel="me noopener"><i class="fa fa-linkedin" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Instagram }}
<a href="https://www.instagram.com/{{.}}/" target="_blank" rel="me noopener"><i class="fa fa-instagram" style="font-size:xxx-large"></i></a> 
{{ end }} 
{{ with .Site.Params.Social.Wechat}}
<a href="javascript:void(0);" target="_blank" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="fa fa-wechat"></i></a> 
{{end}}
{{ with .Site.Params.Social.Email}}
<a href="mailto:{{.}}" rel="me noopener"><i class="fa fa-envelope" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Facebook}}
<a href="https://facebook.com/{{.}}" rel="me noopener"><i class="fa fa-facebook-offical" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Telegram}}
<a href="https://t.me/{{.}}" rel="me noopener"><i class="fa fa-telegram" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Dribbble}}
<a href="https://dribbble.com/{{.}}" rel="me noopener"><i class="fa fa-dribbble" style="font-size:xxx-large"></i></a>
{{ end }}
{{ with .Site.Params.Social.Medium}}
<a href="https://medium.com/{{.}}" rel="me noopener"><i class="fa fa-medium" style="font-size:xxx-large"></i></a>
{{ end }}
